/* Try different box model properties below */
.site-header__title ~ p {
  color: white;
}
.site-footer {
  text-align: center;
  font-size: 12px;
}
.message--unread {
  box-shadow: 4px 4px 0 #dba944;
}

a:link {
  color: purple;
}

.site-wrapper {
  border: 10px solid black;
}
